.display {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.image {
    position: fixed;
    top: 10vw;
    left: 32.5vw;
    z-index: 100;
    width: 33vw
}

.button {
    padding: 10px 40px;
    margin: 0px 10px 10px 0px;
    border-radius: 10px;
    font-family: 'Calibri', cursive;
    font-weight: bold;
    font-size: 20px;
    color: black;
    text-decoration: none;
    background-color: rgb(221, 221, 221);
    border-bottom: 5px solid #000000;
    text-shadow: 0px -2px rgb(221, 221, 221);
}

.pokeball {
    width: 45vw;
    height: 45vw;
    border: .5vw solid black;
    border-radius: 22.5vw;
    z-index: 0
}

.pokeball_top {
    width: 45vw;
    height: 22.5vw;
    background-color: rgb(230, 60, 60);
    border-top-left-radius: 22.5vw;
    border-top-right-radius: 22.5vw;
    border-bottom: .5vw solid black;
    z-index: 10
}

.pokeball_center {
    width: 10vw;
    height: 10vw;
    border: .5vw solid black;
    border-radius: 5vw;
    background-color: rgb(221, 221, 221);
    z-index: 20
}

.left {
    position: fixed;
    top: 0vw;
    left: -22.5vw
}

.button:active {
    transform: translate(0px, 5px);
    -webkit-transform: translate(0px, 5px);
    border-bottom: 1px solid;
}

.img {
    margin-top: -50px
}