.display {
    display: flex;
    flex-direction: column;
}

.button_list {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.cards_list {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.animate {
    transition: all 0.1s;
    -webkit-transition: all 0.1s;
}

.button {
    position: relative;
    padding: 10px 40px;
    margin: 0px 10px 10px 0px;
    float: left;
    border-radius: 10px;
    font-family: 'Calibri', cursive;
    font-weight: bold;
    font-size: 20px;
    color: black;
    text-decoration: none;
    background-color: #F2CF66;
    border-bottom: 5px solid #000000;
    text-shadow: 0px -2px #D1B358;
}

.button:active {
    transform: translate(0px, 5px);
    -webkit-transform: translate(0px, 5px);
    border-bottom: 1px solid;
}